<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="client3.js"></script>
    <title>Welcome Page</title>
</head>

<body>

<header></header>
    <h1>Mood for Food </h1>
    <p id="slogan">Find the fillings to your feelings.</p>

    <div class="selections">
        <h2 id="imfeeling">I am feeling:</h2>
        <select class="dropdown" name="emotions" id="SelectEmotion">
            <option value="anger" selected>Angry</option>
            <option value="sad">Sad</option>
            <option value="stressed">Stressed</option>
        </select>
    </div>

    <!-- <div class="button"> -->
    <button class="button" id="moodtofood">Show me the food</button>
    <!-- </div> -->
    <p id="output"></p>
    <br><br>

    <div id="recipeContainer"></div>

    <br><br><br><br>
    <div class="footer">
        <p>Mood for Food is created by
            <a href="https://yitingliu97.wordpress.com/">Yiting Liu</a>, a proud foodie 😛.
        </p>
    </div>

</body>

</html>